body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

#gameArea {
    width: 800px; /* Zwiększona szerokość */
    height: 600px; /* Zwiększona wysokość */
    margin: 0 auto;
    background-color: #000000;
    position: relative;
    border: 2px solid #ffffff;
}

.pacman, .ghost, .wall, .food {
    position: absolute;
}

.pacman {
    width: 20px;
    height: 20px;
    background-color: yellow;
}

.ghost {
    width: 20px;
    height: 20px;
    background-color: red;
}

.wall {
    width: 20px;
    height: 20px;
    background-color: purple;
}

.food {
    width: 10px;
    height: 10px;
    background-color: green;
}
